<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ejercicio 05</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Valor mínimo: </ion-label>
    <ion-input [(ngModel)]="inputMin"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Valor máximo: </ion-label>
    <ion-input [(ngModel)]="inputMax"></ion-input>
  </ion-item>
  <ion-button (click)="generaAleatorio()">GENERA NÚMERO ALEATORIO ENTRE EL {{inputMin}} Y EL  {{inputMax}}</ion-button>
    <h1 class="ion-text-center">{{ n }}</h1>
</ion-content>