<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Ejercicios del 1 al 7
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button href="/ejercicio01" expand="full" shape="round">Ejercicio 1 </ion-button>
  <ion-button href="/ejercicio02" expand="full" shape="round">Ejercicio 2 </ion-button>
  <ion-button href="/ejercicio03" expand="full" shape="round" >Ejercicio 3 </ion-button>
  <ion-button href="/ejercicio04" expand="full" shape="round" >Ejercicio 4 </ion-button>
  <ion-button href="/ejercicio05" expand="full" shape="round" >Ejercicio 5 </ion-button>
  <ion-button href="/ejercicio06" expand="full" shape="round" >Ejercicio 6 </ion-button>
  <ion-button href="/ejercicio07" expand="full" shape="round">Ejercicio 7 </ion-button>
</ion-content>